<?xml version="1.0" encoding="UTF-8"?>
<!-- filepath: c:\Users\alexa\OneDrive\Área de Trabalho\sistema-noticias\phpunit.xml -->
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Scrapers">
            <directory>tests/Scrapers</directory>
        </testsuite>
        <testsuite name="Cache">
            <directory>tests/Cache</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>